#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 39 40 41 42 43 44 45 46 47 48 49 50 51 54 55 56 57 58 59 60 61 62 63 64 71 72 73 74 75>;
        };

        thleft: thleft {
            compatible = "zmk,behavior-hold-tap";
            label = "THLEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <7 8 9 10 11 12 13 21 22 23 24 25 26 27 39 40 41 42 43 44 45 54 55 56 57 58 59 71 72 73 74 75>;
            require-prior-idle-ms = <10>;
        };

        thright: thright {
            compatible = "zmk,behavior-hold-tap";
            label = "THRIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 5 6 14 15 16 17 18 19 20 28 29 30 31 32 33 34 46 47 48 49 50 51 60 61 62 63 64 13 27 45 59 75 12 26 44 58 74>;
            require-prior-idle-ms = <10>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp EQUAL  &kp N1     &kp N2                  &kp N3          &kp N4                &kp N5              &tog 1                                                             &mo 3        &kp N6               &kp N7                  &kp N8                &kp N9                    &kp N0    &kp MINUS
&kp TAB    &kp Q      &kp W                   &kp E           &kp R                 &kp T               &none                                                              &none        &kp Y                &kp U                   &kp I                 &kp O                     &kp P     &kp BSLH
&kp ESC    &kp A      &thleft LEFT_CONTROL S  &thleft LGUI D  &thleft LEFT_SHIFT F  &thleft LEFT_ALT G  &none     &kp LEFT_GUI  &kp LALT       &kp RIGHT_ALT    &kp RCTRL  &none        &thleft RIGHT_ALT H  &thright RIGHT_SHIFT J  &thright RIGHT_GUI K  &thright RIGHT_CONTROL L  &kp SEMI  &kp SQT
&kp LSHFT  &kp Z      &kp X                   &kp C           &kp V                 &kp B                                       &kp HOME       &kp PG_UP                                &kp N                &kp M                   &kp COMMA             &kp DOT                   &kp FSLH  &kp RSHFT
&mo 2      &kp GRAVE  &kp CAPS                &kp LEFT        &kp RIGHT                                 &kp BSPC  &kp DEL       &lt 2 END      &lt 2 PAGE_DOWN  &kp ENTER  &lt 4 SPACE                       &kp UP                  &kp DOWN              &kp LBKT                  &kp RBKT  &mo 2
            >;
        };

        keypad {
            display-name = "Kp";
            bindings = <
&kp EQUAL  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5  &trans                                                          &mo 3      &kp N6  &kp KP_NUM  &kp KP_EQUAL  &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp MINUS
&kp TAB    &kp Q      &kp W     &kp E     &kp R      &kp T   &none                                                           &none      &none   &kp KP_N7   &kp KP_N8     &kp KP_N9      &kp KP_MINUS     &kp BSLH
&kp ESC    &kp A      &kp S     &kp D     &kp F      &kp G   &none     &kp LEFT_GUI  &kp LALT      &kp RIGHT_ALT  &kp RCTRL  &none      &none   &kp KP_N4   &kp KP_N5     &kp KP_N6      &kp KP_PLUS      &kp SQT
&kp LSHFT  &kp Z      &kp X     &kp C     &kp V      &kp B                           &kp HOME      &kp PG_UP                            &none   &kp KP_N1   &kp KP_N2     &kp KP_N3      &kp KP_ENTER     &kp RSHFT
&mo 2      &kp GRAVE  &kp CAPS  &kp LEFT  &kp RIGHT          &kp BSPC  &kp DEL       &kp END       &kp PG_DN      &kp ENTER  &kp KP_N0          &kp UP      &kp N0        &kp KP_DOT     &none            &mo 2
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
&none  &kp F1  &kp F2                 &kp F3                                 &kp F4                 &kp F5                 &tog 1                                  &mo 3  &kp F6                 &kp F7                 &kp F8                     &kp F9                   &kp F11                   &none
&none  &none   &kp LG(LS(LA(LC(W))))  &kp LS(LA(LG(LC(RS(RA(RC(RG(E))))))))  &kp LS(LC(LG(LA(R))))  &kp LS(LA(LC(LG(T))))  &none                                   &none  &kp LS(LA(LC(LG(Y))))  &kp LS(LA(LC(LG(U))))  &kp LS(LA(LC(LG(I))))      &kp LS(LA(LC(LG(O))))    &kp LA(LC(LG(LS(P))))     &none
&none  &none   &kp LG(LA(LC(LS(S))))  &kp LS(LA(LC(LG(D))))                  &kp LG(LC(LA(LS(F))))  &kp LS(LA(LC(LG(G))))  &none   &none  &none      &none  &none  &none  &kp LS(LA(LC(LG(H))))  &kp LS(LA(LC(LG(J))))  &kp LS(LC(LG(LA(K))))      &kp LS(LC(LG(LA(L))))    &kp LS(LA(LC(LG(SEMI))))  &none
&none  &none   &kp LG(LS(LA(LC(X))))  &kp LG(LA(LC(LS(C))))                  &kp LG(LS(LA(LC(V))))  &kp LS(LA(LC(LG(B))))                 &none      &none                &kp LS(LA(LC(LG(N))))  &kp LS(LA(LC(LG(M))))  &kp LS(LA(LC(LG(COMMA))))  &kp LS(LA(LC(LG(DOT))))  &kp LS(LA(LC(LG(FSLH))))  &none
&none  &none   &none                  &none                                  &none                                         &none   &none  &none      &none  &none  &none                         &none                  &none                      &none                    &none                     &none
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans           &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none         &none         &bootloader                                            &bootloader      &none  &none       &none       &none  &none  &none
&studio_unlock  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &stp STP_BAT     &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &macro_ver    &none                             &none      &none                                    &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG         &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };

        Symbols {
            bindings = <
&none  &none         &none         &none     &none        &none          &none                                  &none  &kp LS(PLUS)   &none             &none              &none         &none     &none
&none  &none         &kp LS(HOME)  &kp UP    &kp LS(END)  &none          &none                                  &none  &kp MINUS      &kp LS(LPAR)      &kp LS(RPAR)       &none         &none     &none
&none  &kp LG(LEFT)  &kp LEFT      &kp DOWN  &kp RIGHT    &kp LG(RIGHT)  &none  &none  &none      &none  &none  &none  &kp LS(UNDER)  &kp LS(LBRC)      &kp LS(RBRC)       &kp LS(PLUS)  &kp SEMI  &none
&none  &none         &kp PG_DN     &none     &kp PG_UP    &none                        &none      &none                &kp COMMA      &kp LS(LT)        &kp LS(GT)         &kp PERIOD    &none     &none
&none  &none         &none         &none     &none                       &none  &none  &none      &none  &none  &none                 &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none         &none     &none
            >;
        };
    };
};
